@font-face {
    font-family: "Chava";
    src: url(../fonts/Chava-Regular.woff);
}
@font-face {
    font-family: "Onest", sans-serif;
    src: url(../fonts/Onest-VariableFont_wght.woff);
}
@font-face {
    font-family: "Martian Mono", monospace;
    src: url(../fonts/MartianMono-VariableFont_wdth\,wght.woff);
}



:root{
    --onest: "Onest", sans-serif;
    --default: "Martian Mono", monospace;
    --chava: "Chava";
}