#gridCanvas {
    pointer-events: none;
}

.preload-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
        background: #000;
    }

    img {
        width: 320px;
        height: 80px;
        position: absolute;
        z-index: 10001;
        will-change: transform;
        /* Для оптимизации анимации */
        transform: translateZ(0);
        /* Аппаратное ускорение */
    }
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    canvas {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 0;
            padding: 0 40px;

            span {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: var(--white);
            }
        }

        .stroke {
            width: 100%;
            mix-blend-mode: difference;
            overflow: hidden;

            @keyframes animTitle {
                from {
                    transform: translateX(0%);
                }

                to {
                    transform: translate(-297.3%);
                }
            }

            .anim_stroke {
                animation: 20s animTitle linear infinite;
            }

            div {
                font-family: var(--onest);
                font-weight: 570;
                font-size: 280px;
                line-height: 280px;
                letter-spacing: -4%;
                text-transform: uppercase;
                color: var(--white);
                white-space: nowrap;
                will-change: transform;
                perspective: 1000px;
                -webkit-backface-visibility: hidden;
                -webkit-transform-style: preserve-3d;
                display: flex;
                align-items: center;
                gap: 150px;

                span {
                    font-family: var(--chava);
                    font-weight: 400;
                    font-size: 275.33px;
                    line-height: 280px;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: var(--white);
                    margin-left: -25px;
                }
            }
        }
    }
}

.about {
    width: 100%;
    padding: 400px 0px 428px 0px;
    position: relative;
    overflow: hidden;

    #gridCanvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.8;
    }

    &__decor {
        position: absolute;
        opacity: 0;
        transform: translate3d(0, 15%, 0);
        z-index: 0;
    }

    .ab_dec1 {
        width: 488px;
        height: 488px;
        top: 150px;
        right: 689px;
    }

    .ab_dec2 {
        width: 380px;
        height: 380px;
        top: 635px;
        left: 149px;
    }

    .ab_dec3 {
        width: 162px;
        height: 162px;
        bottom: 422px;
        left: 582px;
    }

    &__body {
        display: flex;
        gap: 40px;
        position: relative;



        &-left {
            width: 497px;
            display: flex;
            flex-direction: column;
            gap: 500px;

            h3 {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: var(--white);
            }

            .about-parallax {
                width: 497px;
                height: 276px;
                position: relative;

                #pixelCanvas {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 3 !important;
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 96px;
            align-items: flex-end;

            .text__wrap {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 1303px;

                span {
                    font-family: var(--onest);
                    font-weight: 570;
                    font-size: 80px;
                    line-height: 84px;
                    letter-spacing: -2%;
                    text-transform: uppercase;
                    color: var(--white);
                    width: 100%;
                }

                span:nth-child(3) {
                    width: 766px;
                }

                span:nth-child(4) {
                    width: 1034px;
                }

                span:nth-child(5) {
                    width: 766px;
                }

                span:nth-child(6) {
                    width: 1034px;
                }

                span:nth-child(7) {
                    width: 497px;
                }
            }

            .description__wrap {
                display: flex;
                gap: 40px;

                p {
                    font-weight: 300;
                    font-size: 18px;
                    leading-trim: NONE;
                    line-height: 28px;
                    letter-spacing: 0%;
                    color: var(--white);
                    max-width: 497px;
                }
            }
        }
    }
}

.services__new {
    width: 100%;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 36px;

        h2 {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: var(--white);
        }

        .item:nth-child(3) {
            z-index: 5;
        }

        .items {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .items__line {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
            }

            .item:nth-child(2) {
                z-index: 0;
            }

            .item:nth-child(3) {
                z-index: 1;
            }

            .item:nth-child(4) {
                z-index: 2;
            }

            .wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 2;

                svg {
                    position: absolute;
                    background: #000;
                    image-rendering: crisp-edges;
                    shape-rendering: crispEdges;
                }

                img {
                    width: 760px;
                    height: 760px;
                    position: absolute;
                    background: #000;
                }
            }

            .wrapper img:not(:first-child) {
                clip-path: inset(100% 0 0 0);
            }

            .item {
                width: 100%;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 1px solid #F4F4F429;
                overflow: hidden;
                position: relative;

                .number {
                    position: absolute;
                    left: 40px;
                    top: 36px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #fff;
                }

                p {
                    transition: opacity 0.3s ease;
                    text-align: start;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0%;
                    color: var(--white);
                    max-width: 448px;
                    position: absolute;
                    bottom: 32px;
                    right: 0;
                }

                h3 {
                    font-family: var(--onest);
                    font-weight: 570;
                    font-size: 160px;
                    line-height: 160px;
                    letter-spacing: -4%;
                    text-transform: uppercase;
                    color: var(--white);
                    text-align: center;
                    white-space: nowrap;
                    will-change: contents;
                    font-variant-ligatures: none;
                    font-kerning: none;
                    position: absolute;

                    span {
                        font-family: "Chava";
                        font-weight: 400;
                        font-size: 157px;
                        line-height: 141px;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.services {
    width: 100%;
    position: relative;
    overflow: hidden;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 36px;

        h3 {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: var(--white);
        }

        &-block {
            width: 100%;
            height: 100vh;
            border-top: 1px solid #F4F4F429;
            border-bottom: 1px solid #F4F4F429;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            svg {
                width: 760px;
                height: 760px;
            }

            #number {
                position: absolute;
                left: 40px;
                top: 36px;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
            }

            &-desc {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                p {
                    transition: opacity 0.3s ease;
                    text-align: start;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0%;
                    color: var(--white);
                    max-width: 448px;
                    position: absolute;
                    bottom: 32px;
                    right: 0;
                }
            }

            &-titles {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;

                h3 {
                    font-family: var(--onest);
                    font-weight: 570;
                    font-size: 160px;
                    line-height: 160px;
                    letter-spacing: -4%;
                    text-transform: uppercase;
                    color: var(--white);
                    text-align: center;
                    white-space: nowrap;
                    will-change: contents;
                    font-variant-ligatures: none;
                    font-kerning: none;
                    position: absolute;

                    span {
                        font-family: "Chava";
                        font-weight: 400;
                        font-size: 157px;
                        line-height: 141px;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.showreel {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
    }

    #grid-canvas-video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    img {
        position: absolute;
        width: 426px;
        height: 106px;
        z-index: 2;
    }
}

.case {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-top: 400px;
    padding-bottom: 0px;

    .case__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 40px;

            span {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: var(--white);
                mix-blend-mode: difference;
            }
        }

        .stroke {
            width: 100%;
            height: 100%;
            mix-blend-mode: difference;

            .stroke_container {
                display: flex;
                align-items: center;
                gap: 40px;
                animation: marqueecase 30s infinite linear;
                white-space: nowrap;
                display: inline-flex;
                mix-blend-mode: difference !important;
                margin-top: -15px;

                &-title {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    user-select: none;
                    font-family: var(--onest);
                    font-weight: 570;
                    font-size: 280px;
                    line-height: 280px;
                    letter-spacing: -4%;
                    text-transform: uppercase;
                    color: var(--white);

                    span {
                        font-family: "Chava";
                        font-size: 276px;
                        line-height: 214px;
                        margin-top: -32px;
                        margin-left: -11px;
                        margin-right: 24px;
                    }

                    &:after {
                        color: var(--main);
                        margin: 0 .25ch .1em;
                        content: '/';
                        flex-shrink: 0;
                        font-size: 97%;
                        font-family: var(--chava);
                    }
                }
            }
        }
    }

    &__soft {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        gap: 240px;
        align-items: center;
        .wrap:nth-child(2) {
            justify-content: flex-end;
            gap: 40px;
        }

        .item {
            position: absolute;

        }

        .item1 {
            left: 40px;
        }

        .item2 {
            right: 40px;
        }

        .item3 {
            right: 577px;
        }

        .item4 {
            right: 40px;
        }

        .item5 {
            left: 40px;
        }

        .item6 {
            right: 40px;
        }



        .item:hover .info .action div {
            opacity: 1;
            scale: 1;
            cursor: pointer;
        }

        .big_case {
            width: 766px;
            transform: translateY(120%);

            .media {
                height: 875px;
            }
        }

        .small_case {
            width: 497px;
            transform: translateY(160%);

            .media {
                height: 607px;
            }
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: 54px;
            z-index: 2;

            .media {
                width: 100%;
                position: relative;
                background: transparent;

                img {
                    display: none;
                }

                .grid-canvas-case {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    display: flex;
                }

                .grid-portfolio {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    display: flex;
                }


                .grid-canvas {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }

                .btn__rotate {
                    width: 80px;
                    height: 80px;
                    background: #442CBF;
                    border-radius: 50%;
                    position: absolute;
                    top: -40px;
                    right: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        width: 36px;
                        height: 36px;
                    }

                    .text {
                        width: 130px;
                        height: 130px;
                        position: absolute;
                        transform-origin: center;
                        animation: rotate 10s linear infinite;
                        will-change: transform;
                        mix-blend-mode: difference;
                        fill: #fff;
                        text-transform: uppercase;

                        text {
                            font-weight: 200;
                            line-height: 0px;
                            letter-spacing: 3px;
                            text-align: center;
                            color: #fff;
                            font-size: 16px;
                        }
                    }

                    @keyframes rotate {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(-360deg);
                        }
                    }
                }
            }

            .info {
                display: flex;
                width: 100%;
                justify-content: space-between;

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    span {
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 48px;
                        leading-trim: NONE;
                        line-height: 56px;
                        letter-spacing: -4%;
                        text-transform: uppercase;
                        color: var(--white);
                    }

                    p {
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: 0%;
                        color: var(--white);
                    }
                }

                .action {
                    width: 54px;
                    height: 54px;
                    min-width: 54px;
                    min-height: 54px;
                    border: 1.35px solid #F4F4F429;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    div {
                        width: 27px;
                        height: 27px;
                        background: var(--main);
                        transition: all 0.3s ease;
                        opacity: 0;
                        scale: 0;
                    }
                }
            }
        }
        button.animate{
            transform: translateY(0%);
            opacity: 1;
        }
        button:hover{
            span{
                color: var(--black);
            }
        }
        button {
            width: 560px;
            height: 120px;
            background: transparent;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Onest";
            font-weight: 570;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            text-transform: uppercase;
            color: var(--white);
            border: none;
            cursor: pointer;
            z-index: 1;
            position: absolute;
            bottom: 100px;
            transform: translateY(10%);
            opacity: 0;
            transition: all 0.5s ease;
            span {
                position: relative;
                z-index: 1;
            }

            .btn_canvas-case {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
            }
        }
    }

    overflow: hidden;
    z-index: 0;
}

@keyframes marqueecase {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50.2%);

    }
}


.benefits {
    padding: 120px 0 110px;
    overflow: hidden;

    &__container {
        padding-top: 160px;
        position: relative;
    }

    &__decor {
        position: absolute;
        pointer-events: none;

        &--1 {
            width: 922px;
            height: 651px;
            top: 0;
            right: 40px;
            z-index: -5;
        }
    }

    &__row {}

    &__col {
        &--title {}

        &--subtitle {
            margin: 0 0 96px;
        }

        &--content {
            margin-left: calc(2* calc(100% / 7));
        }
    }

    &__title {
        margin: 0 0 -32px;
        font-weight: 300;
        font-style: Light;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 24px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: var(--white);
    }

    &__subtitle {
        margin: 0 20px;
        line-height: 1.05;

        span {
            padding: 0 20px;
            display: block;
            font-family: var(--onest);
            font-weight: 570;
            font-size: 80px;
            line-height: 84px;
            letter-spacing: -2%;
            text-transform: uppercase;
            color: var(--white);

            &:nth-child(9n + 1) {
                margin-left: calc(2* calc(100% / 7));
            }

            &:nth-child(9n + 2) {
                margin-left: calc(2* calc(100% / 7));
            }

            &:nth-child(9n + 4) {
                margin-left: calc(1* calc(100% / 7));
            }

            &:nth-child(9n + 6) {
                margin-left: calc(1* calc(100% / 7));
            }

            &:nth-child(9n + 7) {
                margin-left: calc(2* calc(100% / 7));
            }

            &:nth-child(9n + 9) {
                margin-left: calc(1* calc(100% / 7));
            }
        }
    }

    &__content {
        column-count: 2;
        column-gap: 40px;

        p {
            break-inside: avoid;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0%;
            color: var(--white);
        }
    }
}

.client {
    width: 100%;
    padding: 110px 0px 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 160px;
    overflow: hidden;

    #clientGridCanvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.8;
    }

    .client__decor1 {
        width: 488px;
        height: 488px;
        left: 361px;
        top: -70px;
        position: absolute;
        z-index: -1;
    }

    .client__decor2 {
        width: 162px;
        height: 162px;
        position: absolute;
        right: 334px;
        top: 368px;
    }

    .client__decor3 {
        width: 380px;
        height: 380px;
        bottom: 75px;
        right: 624px;
        position: absolute;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        h3 {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            color: var(--white);
        }

        h2 {
            font-family: var(--onest);
            font-weight: 570;
            font-size: 160px;
            line-height: 160px;
            letter-spacing: -4%;
            text-transform: uppercase;
            color: var(--white);
            text-align: center;

            span {
                font-family: var(--chava);
                font-weight: 400;
                font-size: 157.33px;
                line-height: 141.33px;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: var(--white);
            }
        }
    }

    &__stroke {
        display: flex;
        flex-direction: column;
        gap: 54px;
        overflow: hidden;
        width: 100%;

        .row:nth-child(1) {
            will-change: transform;
            animation: marquee1 10s infinite linear;
        }

        .row:nth-child(2) {
            will-change: transform;
            animation: marquee2 10s infinite linear;
        }

        .row {
            display: flex;
            align-items: center;
            gap: 40px;
            flex-wrap: nowrap;
            width: 100%;

            .item {
                width: 488px;
                height: 271px;
                min-height: 271px;
                min-width: 488px;
                position: relative;
                background-image:
                    linear-gradient(#F4F4F429 1px, transparent 1px),
                    linear-gradient(90deg, #F4F4F429 1px, transparent 1px);
                background-size: 54px 54px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 337px;
                    max-height: 124px;
                }
            }
        }
    }
}

@keyframes marquee1 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-165%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(-165%);
    }

    100% {
        transform: translateX(0%);

    }
}

.awards {
    width: 100%;
    padding-bottom: 400px;
    overflow: hidden;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 34px;

        h3 {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: var(--white);
        }

        &-block {
            border-top: 1px solid #F4F4F429;
            width: 100%;
            display: flex;
            flex-direction: column;

            .item:hover .main__wrap .action div {
                scale: 1;
                opacity: 1;
            }

            .item:hover .wrap {
                opacity: 1;
            }

            .item {
                width: 100%;
                border-bottom: 1px solid #F4F4F429;
                padding: 40px 0px 40px 537px;
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                overflow: visible;

                .wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 497px;
                    height: 607px;
                    background: var(--main);
                    position: absolute;
                    left: 0;
                    transition: all 0.3s ease;
                    opacity: 0;

                    img {
                        width: 220px;
                        height: 220px;
                    }
                }

                .main__wrap {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        span {
                            font-family: var(--onest);
                            font-weight: 570;
                            font-size: 48px;
                            line-height: 56px;
                            letter-spacing: -4%;
                            text-transform: uppercase;
                            color: var(--white);
                        }

                        p {
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 28px;
                            letter-spacing: 0%;
                            color: var(--white);
                        }
                    }

                    .action {
                        width: 54px;
                        height: 54px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #F4F4F429;

                        div {
                            width: 27px;
                            height: 27px;
                            background: var(--main);
                            transition: all 0.3s ease;
                            scale: 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

[data-grid="true"] {
    position: relative;
    overflow: visible !important;
}

[data-grid="true"]>canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.feedback {
    width: 100%;
    position: relative;
    overflow: visible;

    .feedback__top {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: visible;
        top: 0;
        left: 0;

        canvas {
            width: 100%;
            height: 100%;
            image-rendering: -moz-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: pixelated;
            -ms-interpolation-mode: nearest-neighbor;
        }
    }


    &__bot {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 236px;
        padding: 280px 40px 192px 40px;
        position: relative;
        z-index: 5;

        .title {
            display: flex;
            flex-direction: column;
            gap: 80px;

            .main__title {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                h3 {
                    font-weight: 300;
                    font-style: Light;
                    font-size: 14px;
                    leading-trim: NONE;
                    line-height: 20px;
                    letter-spacing: 0%;
                    text-align: center;
                    text-transform: uppercase;
                    color: var(--white);
                }

                h2 {
                    font-family: var(--onest);
                    font-weight: 570;
                    font-size: 160px;
                    line-height: 160px;
                    text-transform: uppercase;
                    color: var(--white);
                    text-align: center;
                    letter-spacing: -8px;
                    white-space: nowrap;

                    span {
                        font-family: var(--chava);
                        font-size: 157px;
                        line-height: 141px;
                        letter-spacing: 0px;
                    }
                }
            }

            .contacts {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;

                a {
                    font-weight: 570;
                    font-size: 40px;
                    leading-trim: NONE;
                    line-height: 48px;
                    text-align: center;
                    text-transform: uppercase;
                    color: var(--white);
                    font-family: var(--onest);
                }
            }
        }

        .main_img {
            width: 400px;
            height: 520px;
            position: absolute;
            left: 0;
            top: 120px;
        }

        .soft_img {
            width: 360px;
            height: 280px;
            position: absolute;
            top: 960px;
            right: 40px;
            display: none;
        }

        .form_wrap {
            display: flex;
            flex-direction: column;
            width: 100%;

            .form_wrap-title {
                display: flex;
                gap: 40px;
                width: 100%;

                span {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: var(--white);
                    width: 497px;
                }

                p {
                    font-family: var(--onest);
                    font-weight: 570;
                    font-size: 80px;
                    line-height: 84px;
                    letter-spacing: -2%;
                    text-transform: uppercase;
                    color: var(--white);
                }
            }
        }

        &-thank {
            width: 100%;
            display: none;

            .wrap {
                display: flex;
                flex-direction: column;
                gap: 6px;
                align-items: flex-end;

                span {
                    font-family: var(--onest);
                    font-weight: 570;
                    font-size: 80px;
                    line-height: 80px;
                    letter-spacing: -2%;
                    text-transform: uppercase;
                    color: var(--white);
                    width: 100%;
                }

                span:nth-child(1) {
                    width: 1303px;
                }

                span:nth-child(2) {
                    width: 100%;
                    text-align: start;
                }

                span:nth-child(3) {
                    width: 1591px;
                }

                span:nth-child(4) {
                    text-align: end;
                }
            }
        }

        &-form {
            display: flex;
            flex-direction: column;
            gap: 80px;
            align-items: center;

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 6px;
                width: 100%;

                .wrap {
                    display: flex;
                    gap: 16px;
                    align-items: flex-start;

                    span {
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 80px;
                        line-height: 80px;
                        letter-spacing: -2%;
                        text-transform: uppercase;
                        color: var(--white);
                    }

                    input:hover::placeholder {
                        color: var(--white);
                    }

                    div {
                        width: auto;
                        position: relative;
                        display: flex;
                        align-items: center;
                    }

                    input {
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #624EC9;
                        color: var(--white);
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 80px;
                        line-height: 84px;
                        letter-spacing: -2%;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        transition: all 0.3s ease;
                        position: relative;
                    }

                    div:has(input.error) p {
                        display: flex;
                    }

                    div p {
                        width: 40px;
                        height: 40px;
                        background: rgba(201, 78, 78, 1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        font-style: Light;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0%;
                        text-align: center;
                        text-transform: uppercase;
                        position: absolute;
                        right: 0px;
                        z-index: 10;
                        color: var(--white);
                        transition: all 0.3s ease;
                        display: none;
                        margin-top: 0 !important;
                    }

                    input::placeholder {
                        color: #8A7CD4;
                    }
                }

                .wrap:nth-child(1) {
                    width: 100%;
                    justify-content: flex-end;

                    input,
                    div {
                        width: 746px;
                    }
                }

                .wrap:nth-child(2) {
                    justify-content: space-between;
                    width: 100%;

                    input,
                    div {
                        width: 100%;
                    }
                }

                .wrap:nth-child(3) {
                    justify-content: flex-end;

                    input,
                    div {
                        width: 1530px;
                    }
                }

                .wrap:nth-child(4) {
                    justify-content: flex-end;

                    span {
                        width: 1014px;
                    }
                }

                .wrap:nth-child(5) {
                    justify-content: flex-end;

                    input,
                    div {
                        width: 1260px;
                    }
                }

                .wrap:nth-child(6) {
                    justify-content: flex-end;

                    span {
                        width: 1014px;
                    }
                }

                .wrap:nth-child(7) {
                    justify-content: space-between;

                    input,
                    div {
                        width: 100%;
                    }

                    span {
                        white-space: nowrap;
                    }
                }
            }


            button {
                width: 560px;
                height: 120px;
                background: transparent;
                position: relative;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Onest";
                font-weight: 570;
                font-size: 40px;
                line-height: 48px;
                text-align: center;
                text-transform: uppercase;
                color: var(--white);
                border: none;
                cursor: pointer;
                z-index: 1;

                span {
                    position: relative;
                    z-index: 1;
                }

                .btn_canvas {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                }
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
                text-transform: uppercase;
                color: #F4F4F44D;
            }
        }
    }
}