@import './reset';
@import './fonts.scss';
@import './colors.scss';

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    background: var(--black);
    margin: 0 auto;
    font-family: var(--default);
    cursor: none;
    position: relative;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    overflow: hidden !important;
}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1840px;
}

a {
    cursor: none;
}

html {
    cursor: none;
}

div {
    cursor: none;
}

.desk {
    display: flex !important;
}

.mob {
    display: none !important;
}

.hidden {
    overflow: hidden;
}