@import './reset';
@import './fonts.scss';
@import './colors.scss';

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    background: var(--black);
    margin: 0 auto;
    font-family: var(--default);
    position: relative;
    overflow: hidden !important;
    opacity: 1 !important;
    transform: none !important;

}
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1840px;
}
*{
    cursor: none !important;
}

.desk {
    display: flex !important;
}

.mob {
    display: none !important;
}

.hidden {
    overflow: hidden;
}
[data-scroll-section] {
    opacity: 1 !important;
    transform: none !important;
    pointer-events: all !important;
}