@media (max-width: 1920px) {
    html {
        font-size: calc(100vw / 1920);
    }

    body {
        max-width: 1920rem;
        background: var(--black);
        margin: 0 auto;
        font-family: var(--default);
        cursor: none;
    }

    .preload-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10000;
            background: #000;
        }

        img {
            width: 320rem;
            height: 80rem;
            position: absolute;
            z-index: 10001;
            will-change: transform;
            /* Для оптимизации анимации */
            transform: translateZ(0);
            /* Аппаратное ускорение */
        }
    }

    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 1840rem;
    }

    .header.back {
        transform: translateY(-100%);
    }

    .header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 53rem;
        z-index: 10;
        mix-blend-mode: difference;
        transition: all 0.5s ease;

        &__body {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-logo {
                width: 200rem;
                height: 50rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-menu {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 73.71rem;

                    li {
                        font-weight: 300;
                        font-size: 16rem;
                        line-height: 24rem;
                        letter-spacing: 0%;
                        text-align: center;
                        text-transform: uppercase;
                        color: var(--white);

                        a {
                            padding: 12rem 0;
                        }
                    }
                }
            }
        }
    }

    .cursor.hover {
        width: 40rem;
        height: 40rem;
    }

    .cursor {
        width: 20rem;
        height: 20rem;
        position: fixed;
        background: var(--white);
        z-index: 10001;
        mix-blend-mode: difference;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all width 0.3s ease;

        svg {
            width: 24rem;
            height: 24rem;
            scale: 0;
            transition: all 0.2s ease;
            position: absolute;
        }

        .preloader__text {
            position: absolute;
            top: -40rem;
            right: -80rem;
            z-index: 100001;

            span {
                font-weight: 300;
                font-size: 14rem;
                line-height: 20rem;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: var(--white);
            }
        }
    }


    .main {
        width: 100%;
        height: 100vh;
        position: relative;

        canvas {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &__body {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow: hidden;

            .top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 40rem;
                margin-bottom: -25rem;
                span {
                    font-weight: 300;
                    font-size: 16rem;
                    line-height: 24rem;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: var(--white);
                }
            }

            .stroke {
                width: 100%;
                mix-blend-mode: difference;
                @keyframes animTitle {
                    from {
                        transform: translateX(0%);
                    }

                    to {
                        transform: translate(-297.3%);
                    }
                }

                .anim_stroke {
                    animation: 10s animTitle linear infinite;
                }

                div {
                    font-family: var(--onest);
                    font-weight: 570;
                    font-size: 280rem;
                    line-height: 280rem;
                    letter-spacing: -4%;
                    text-transform: uppercase;
                    color: var(--white);
                    white-space: nowrap;
                    will-change: transform;
                    perspective: 1000rem;
                    -webkit-backface-visibility: hidden;
                    -webkit-transform-style: preserve-3d;
                    display: flex;
                    align-items: center;
                    gap: 150rem;
                    span {
                        font-family: var(--chava);
                        font-weight: 400;
                        font-size: 275.33rem;
                        line-height: 290rem;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        color: var(--white);
                        margin-left: -25rem;
                    }
                }
            }
        }
    }

    .about {
        width: 100%;
        padding: 400rem 0rem 428rem 0rem;
        position: relative;

        #gridCanvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.8;
        }

        &__decor {
            position: absolute;
            z-index: 2;
        }

        .ab_dec1 {
            width: 488rem;
            height: 488rem;
            top: 150rem;
            right: 689rem;
        }

        .ab_dec2 {
            width: 380rem;
            height: 380rem;
            top: 635rem;
            left: 149rem;
        }

        .ab_dec3 {
            width: 162rem;
            height: 162rem;
            bottom: 422rem;
            left: 582rem;
        }

        &__body {
            display: flex;
            gap: 40rem;
            position: relative;



            &-left {
                width: 497rem;
                display: flex;
                flex-direction: column;
                gap: 500rem;

                h3 {
                    font-weight: 300;
                    font-size: 16rem;
                    line-height: 24rem;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: var(--white);
                }

                .about-parallax {
                    width: 497rem;
                    height: 276rem;
                    position: relative;

                    #pixelCanvas {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 2;
                    }
                }
            }

            &-right {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 96rem;
                align-items: flex-end;

                .text__wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 1303rem;
                    position: relative;
                    z-index: 3;

                    span {
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 80rem;
                        line-height: 84rem;
                        letter-spacing: -2%;
                        text-transform: uppercase;
                        color: var(--white);
                        width: 100%;
                    }

                    span:nth-child(3) {
                        width: 766rem;
                    }

                    span:nth-child(4) {
                        width: 1034rem;
                    }

                    span:nth-child(5) {
                        width: 766rem;
                    }

                    span:nth-child(6) {
                        width: 1034rem;
                    }

                    span:nth-child(7) {
                        width: 497rem;
                    }
                }

                .description__wrap {
                    display: flex;
                    gap: 40rem;

                    p {
                        font-weight: 300;
                        font-size: 18rem;
                        leading-trim: NONE;
                        line-height: 28rem;
                        letter-spacing: 0%;
                        color: var(--white);
                        max-width: 497rem;
                    }
                }
            }
        }
    }

    .services__new {
        width: 100%;

        &__body {
            display: flex;
            flex-direction: column;
            gap: 36rem;

            h2 {
                font-weight: 300;
                font-size: 16rem;
                line-height: 24rem;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: var(--white);
            }

            .item:nth-child(3) {
                z-index: 5;
            }

            .items {
                width: 100%;
                height: 100vh;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .items__line {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    z-index: 3;
                }

                .item:nth-child(2) {
                    z-index: 0;
                }

                .item:nth-child(3) {
                    z-index: 1;
                }

                .item:nth-child(4) {
                    z-index: 2;
                }

                .wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;



                    img {
                        width: 760rem;
                        height: 760rem;
                        position: absolute;
                        background: #000;
                    }
                }

                .wrapper img:not(:first-child) {
                    clip-path: inset(100% 0 0 0);
                }

                .item {
                    width: 100%;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 1rem solid #F4F4F429;
                    overflow: hidden;
                    position: relative;

                    .number {
                        position: absolute;
                        left: 40rem;
                        top: 36rem;
                        font-size: 14rem;
                        line-height: 20rem;
                        color: #fff;
                    }

                    p {
                        transition: opacity 0.3s ease;
                        text-align: start;
                        font-weight: 300;
                        font-size: 18rem;
                        line-height: 28rem;
                        letter-spacing: 0%;
                        color: var(--white);
                        max-width: 448rem;
                        position: absolute;
                        bottom: 32rem;
                        right: 0;
                    }

                    h3 {
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 160rem;
                        line-height: 160rem;
                        letter-spacing: -4%;
                        text-transform: uppercase;
                        color: var(--white);
                        text-align: center;
                        white-space: nowrap;
                        will-change: contents;
                        font-variant-ligatures: none;
                        font-kerning: none;
                        position: absolute;

                        span {
                            font-family: "Chava";
                            font-weight: 400;
                            font-size: 157rem;
                            line-height: 141rem;
                            letter-spacing: 0%;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    .services {
        width: 100%;
        position: relative;

        &__body {
            display: flex;
            flex-direction: column;
            gap: 36rem;

            h3 {
                font-weight: 300;
                font-size: 16rem;
                line-height: 24rem;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: var(--white);
            }

            &-block {
                width: 100%;
                height: 100vh;
                border-top: 1rem solid #F4F4F429;
                border-bottom: 1rem solid #F4F4F429;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 2;

                svg {
                    width: 760rem;
                    height: 760rem;
                }

                #number {
                    position: absolute;
                    left: 40rem;
                    top: 36rem;
                    font-size: 14rem;
                    line-height: 20rem;
                    color: #fff;
                }

                &-desc {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;

                    p {
                        transition: opacity 0.3s ease;
                        text-align: start;
                        font-weight: 300;
                        font-size: 18rem;
                        line-height: 28rem;
                        letter-spacing: 0%;
                        color: var(--white);
                        max-width: 448rem;
                        position: absolute;
                        bottom: 32rem;
                        right: 0;
                    }
                }

                &-titles {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    h3 {
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 160rem;
                        line-height: 160rem;
                        letter-spacing: -4%;
                        text-transform: uppercase;
                        color: var(--white);
                        text-align: center;
                        white-space: nowrap;
                        will-change: contents;
                        font-variant-ligatures: none;
                        font-kerning: none;
                        position: absolute;

                        span {
                            font-family: "Chava";
                            font-weight: 400;
                            font-size: 157rem;
                            line-height: 141rem;
                            letter-spacing: 0%;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    .showreel {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 400rem;

        video {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 0;
        }

        #grid-canvas-video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        img {
            position: absolute;
            width: 426rem;
            height: 106rem;
            z-index: 2;
        }
    }

    .case {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        padding-top: 400rem;
        overflow: visible !important;
        padding-bottom: 400rem;
        .case__main {
            width: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 40rem;

                span {
                    font-weight: 300;
                    font-size: 16rem;
                    line-height: 24rem;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: var(--white);
                    mix-blend-mode: difference;
                }
            }

            .stroke {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 2;

                .stroke_container {
                    display: flex;
                    align-items: center;
                    gap: 40rem;
                    animation: marqueecase 15s infinite linear;
                    white-space: nowrap;
                    display: inline-flex;
                    mix-blend-mode: difference !important;
                    margin-top: -15rem;

                    &-title {
                        display: flex;
                        flex-shrink: 0;
                        align-items: center;
                        user-select: none;
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 280rem;
                        line-height: 280rem;
                        letter-spacing: -4%;
                        text-transform: uppercase;
                        color: var(--white);

                        span {
                            font-family: "Chava";
                            font-size: 276rem;
                            line-height: 214rem;
                            margin-top: -32rem;
                            margin-left: -11rem;
                            margin-right: 24rem;
                        }

                        &:after {
                            color: var(--main);
                            margin: 0 .25ch .1em;
                            content: '/';
                            flex-shrink: 0;
                            font-size: 97%;
                            font-family: var(--chava);
                        }
                    }
                }
            }
        }

        &__soft {
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            gap: 240rem;

            .wrap:nth-child(2) {
                justify-content: flex-end;
                gap: 40rem;
            }


            .item:hover .info .action div {
                opacity: 1;
                scale: 1;
                cursor: pointer;
            }

            .big_case {
                width: 766rem;

                .media {
                    height: 875rem;
                }
            }

            .small_case {
                width: 497rem;

                .media {
                    height: 607rem;
                }
            }

            .item1 {
                left: 40rem;
            }

            .item2 {
                right: 40rem;
            }

            .item3 {
                right: 577rem;
            }

            .item4 {
                right: 40rem;
            }

            .item5 {
                left: 40rem;
            }

            .item6 {
                right: 40rem;
            }

            .item {
                display: flex;
                flex-direction: column;
                gap: 54rem;

                .media {
                    width: 100%;
                    position: relative;
                    position: relative;
                    background: transparent;

                    .grid-canvas-case {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        display: flex;
                    }



                    .btn__rotate {
                        width: 80rem;
                        height: 80rem;
                        background: #442CBF;
                        border-radius: 50%;
                        position: absolute;
                        top: -40rem;
                        right: 40rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .icon {
                            width: 36rem;
                            height: 36rem;
                        }

                        .text {
                            width: 130rem;
                            height: 130rem;
                            position: absolute;
                            transform-origin: center;
                            animation: rotate 10s linear infinite;
                            will-change: transform;
                            mix-blend-mode: difference;
                            fill: #fff;

                            text {
                                font-weight: 300;
                                line-height: 0px;
                                letter-spacing: 0%;
                                text-align: center;
                                color: #fff;
                                font-size: 16rem;
                            }
                        }

                        @keyframes rotate {
                            from {
                                transform: rotate(0deg);
                            }

                            to {
                                transform: rotate(-360deg);
                            }
                        }
                    }
                }

                .info {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 20rem;

                        span {
                            font-family: var(--onest);
                            font-weight: 570;
                            font-size: 48rem;
                            leading-trim: NONE;
                            line-height: 56rem;
                            letter-spacing: -4%;
                            text-transform: uppercase;
                            color: var(--white);
                        }

                        p {
                            font-weight: 300;
                            font-size: 18rem;
                            line-height: 28rem;
                            letter-spacing: 0%;
                            color: var(--white);
                        }
                    }

                    .action {
                        width: 54rem;
                        height: 54rem;
                        min-width: 54rem;
                        min-height: 54rem;
                        border: 1.35rem solid #F4F4F429;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        div {
                            width: 27rem;
                            height: 27rem;
                            background: var(--main);
                            transition: all 0.3s ease;
                            opacity: 0;
                            scale: 0;
                        }
                    }
                }
            }
        }

        overflow: hidden;
        z-index: 0;
    }

    @keyframes marqueecase {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50.2%);

        }
    }


    .benefits {
        padding: 120rem 0 110rem;

        &__container {
            padding-top: 160rem;
            position: relative;
        }

        &__decor {
            position: absolute;
            pointer-events: none;

            &--1 {
                width: 922rem;
                height: 649rem;
                top: 26rem;
                right: 54rem;
                z-index: 2;
                transform: translate3d(0, 15%, 0);
                opacity: 0;
            }
        }

        &__row {}

        &__col {
            &--title {}

            &--subtitle {
                margin: 0 0 96rem;
            }

            &--content {
                margin-left: calc(2* calc(100% / 7));
            }
        }

        &__title {
            margin: 0 0 -32rem;
            font-weight: 300;
            font-style: Light;
            font-size: 16rem;
            leading-trim: NONE;
            line-height: 24rem;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: var(--white);
        }

        &__subtitle {
            margin: 0 20rem;
            line-height: 1.05;
            position: relative;
            z-index: 3;

            span {
                padding: 0 20rem;
                display: block;
                font-family: var(--onest);
                font-weight: 570;
                font-size: 80rem;
                line-height: 84rem;
                letter-spacing: -2%;
                text-transform: uppercase;
                color: var(--white);

                br {
                    display: none;
                }

                &:nth-child(9n + 1) {
                    margin-left: calc(2* calc(100% / 7));
                }

                &:nth-child(9n + 2) {
                    margin-left: calc(2* calc(100% / 7));
                }

                &:nth-child(9n + 4) {
                    margin-left: calc(1* calc(100% / 7));
                }

                &:nth-child(9n + 6) {
                    margin-left: calc(1* calc(100% / 7));
                }

                &:nth-child(9n + 7) {
                    margin-left: calc(2* calc(100% / 7));
                }

                &:nth-child(9n + 9) {
                    margin-left: calc(1* calc(100% / 7));
                }
            }
        }

        &__content {
            column-count: 2;
            column-gap: 40rem;

            p {
                break-inside: avoid;
                font-weight: 300;
                font-size: 18rem;
                line-height: 28rem;
                letter-spacing: 0%;
                color: var(--white);
            }
        }
    }

    .client {
        width: 100%;
        padding: 110rem 0rem 400rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 160rem;

        #clientGridCanvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.8;
        }

        .client__decor {
            z-index: 2;
        }

        .client__decor1 {
            width: 488rem;
            height: 488rem;
            left: 365rem;
            top: -65rem;
            position: absolute;
            z-index: 2;
        }

        .client__decor2 {
            width: 162rem;
            height: 162rem;
            position: absolute;
            right: 366rem;
            top: 368rem;
        }

        .client__decor3 {
            width: 380rem;
            height: 380rem;
            bottom: 75rem;
            right: 635rem;
            position: absolute;
        }

        &__top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24rem;
            position: relative;
            z-index: 3;

            h3 {
                font-weight: 300;
                font-size: 16rem;
                line-height: 24rem;
                letter-spacing: 0%;
                text-align: center;
                text-transform: uppercase;
                color: var(--white);
            }

            h2 {
                font-family: var(--onest);
                font-weight: 570;
                font-size: 160rem;
                line-height: 160rem;
                letter-spacing: -4%;
                text-transform: uppercase;
                color: var(--white);
                text-align: center;

                span {
                    font-family: var(--chava);
                    font-weight: 400;
                    font-size: 157.33rem;
                    line-height: 141.33rem;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: var(--white);
                }
            }
        }

        &__stroke {
            display: flex;
            flex-direction: column;
            gap: 53rem;
            overflow: hidden;
            width: 100%;

            .row:nth-child(1) {
                will-change: transform;
                animation: marquee1 10s infinite linear;
            }

            .row:nth-child(2) {
                will-change: transform;
                animation: marquee2 10s infinite linear;
            }

            .row {
                display: flex;
                align-items: center;
                gap: 40rem;
                flex-wrap: nowrap;
                width: 100%;

                .item {
                    width: 488rem;
                    height: 271rem;
                    min-height: 271rem;
                    min-width: 488rem;
                    position: relative;
                    background-image:
                        linear-gradient(#F4F4F429 1rem, transparent 1rem),
                        linear-gradient(90deg, #F4F4F429 1rem, transparent 1rem);
                    background-size: 54rem 54rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 5;

                    img {
                        max-width: 337rem;
                        max-height: 124rem;
                    }
                }
            }
        }
    }

    @keyframes marquee1 {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-165%);
        }
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(-165%);
        }

        100% {
            transform: translateX(0%);

        }
    }

    .awards {
        width: 100%;
        padding-bottom: 400rem;
        overflow: visible;

        &__body {
            display: flex;
            flex-direction: column;
            gap: 34rem;

            h3 {
                font-weight: 300;
                font-size: 16rem;
                line-height: 24rem;
                letter-spacing: 0%;
                text-transform: uppercase;
                color: var(--white);
            }

            &-block {
                border-top: 1rem solid #F4F4F429;
                width: 100%;
                display: flex;
                flex-direction: column;

                .item:hover .main__wrap .action div {
                    scale: 1;
                    opacity: 1;
                }

                .item:hover .wrap {
                    opacity: 1;
                }

                .item {
                    width: 100%;
                    border-bottom: 1rem solid #F4F4F429;
                    padding: 40rem 0rem 40rem 537rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    z-index: 3;

                    .wrap {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 497rem;
                        height: 607rem;
                        background: var(--main);
                        position: absolute;
                        left: 0;
                        transition: all 0.3s ease;
                        opacity: 0;

                        img {
                            width: 220rem;
                            height: 220rem;
                        }
                    }

                    .main__wrap {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .text {
                            display: flex;
                            flex-direction: column;
                            gap: 20rem;

                            span {
                                font-family: var(--onest);
                                font-weight: 570;
                                font-size: 48rem;
                                line-height: 56rem;
                                letter-spacing: -4%;
                                text-transform: uppercase;
                                color: var(--white);
                            }

                            p {
                                font-weight: 300;
                                font-size: 18rem;
                                line-height: 28rem;
                                letter-spacing: 0%;
                                color: var(--white);
                            }
                        }

                        .action {
                            width: 54rem;
                            height: 54rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1rem solid #F4F4F429;

                            div {
                                width: 27rem;
                                height: 27rem;
                                background: var(--main);
                                transition: all 0.3s ease;
                                scale: 0;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .feedback {
        width: 100%;
        position: relative;

        .feedback__top {
            width: 100%;
            height: 100vh;
            position: absolute;
            overflow: visible;
            top: 0;
            left: 0;

            canvas {
                width: 100%;
                height: 100%;
            }
        }

        background: var(--main);

        &__bot {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 236rem;
            padding: 280rem 40rem 192rem 40rem;
            position: relative;

            .title {
                display: flex;
                flex-direction: column;
                gap: 80rem;

                .main__title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 24rem;

                    h3 {
                        font-weight: 300;
                        font-style: Light;
                        font-size: 14rem;
                        leading-trim: NONE;
                        line-height: 20rem;
                        letter-spacing: 0%;
                        text-align: center;
                        text-transform: uppercase;
                        color: var(--white);
                    }

                    h2 {
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 160rem;
                        line-height: 160rem;
                        text-transform: uppercase;
                        color: var(--white);
                        text-align: center;
                        letter-spacing: -8rem;
                        white-space: nowrap;

                        span {
                            font-family: var(--chava);
                            font-size: 157rem;
                            line-height: 141rem;
                            letter-spacing: 0rem;
                        }
                    }
                }

                .contacts {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4rem;

                    a {
                        font-weight: 570;
                        font-size: 40rem;
                        leading-trim: NONE;
                        line-height: 48rem;
                        text-align: center;
                        text-transform: uppercase;
                        color: var(--white);
                        font-family: var(--onest);
                    }
                }
            }

            .main_img {
                width: 400rem;
                height: 520rem;
                position: absolute;
                left: 0;
                top: 120rem;
                z-index: 2;
            }

            .soft_img {
                width: 360rem;
                height: 280rem;
                position: absolute;
                top: 960rem;
                right: 40rem;
                display: none;
            }

            .form_wrap {
                display: flex;
                flex-direction: column;
                width: 100%;

                .form_wrap-title {
                    display: flex;
                    gap: 40rem;
                    width: 100%;

                    span {
                        font-weight: 300;
                        font-size: 14rem;
                        line-height: 20rem;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        color: var(--white);
                        width: 497rem;
                    }

                    p {
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 80rem;
                        line-height: 84rem;
                        letter-spacing: -2%;
                        text-transform: uppercase;
                        color: var(--white);
                    }
                }
            }

            &-thank {
                width: 100%;
                display: none;

                .wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 6rem;
                    align-items: flex-end;

                    span {
                        font-family: var(--onest);
                        font-weight: 570;
                        font-size: 80rem;
                        line-height: 80rem;
                        letter-spacing: -2%;
                        text-transform: uppercase;
                        color: var(--white);
                        width: 100%;
                    }

                    span:nth-child(1) {
                        width: 1303rem;
                    }

                    span:nth-child(2) {
                        width: 100%;
                        text-align: start;
                    }

                    span:nth-child(3) {
                        width: 1591rem;
                    }

                    span:nth-child(4) {
                        text-align: end;
                    }
                }
            }

            &-form {
                display: flex;
                flex-direction: column;
                gap: 80rem;
                align-items: center;

                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 6rem;
                    width: 100%;

                    .wrap {
                        display: flex;
                        gap: 16rem;
                        align-items: flex-start;
                        position: relative;
                        z-index: 2;

                        span {
                            font-family: var(--onest);
                            font-weight: 570;
                            font-size: 80rem;
                            line-height: 80rem;
                            letter-spacing: -2%;
                            text-transform: uppercase;
                            color: var(--white);
                        }

                        input {
                            border: none;
                            border-bottom: 1rem solid #624EC9;
                            color: var(--white);
                            font-family: var(--onest);
                            font-weight: 570;
                            font-size: 80rem;
                            line-height: 84rem;
                            letter-spacing: -2%;
                            text-transform: uppercase;
                            display: flex;
                            align-items: flex-end;
                            background: var(--main);
                            position: relative;
                            z-index: 2;
                        }

                        div::before {
                            content: '!';
                            width: 40rem;
                            height: 40rem;
                            background: rgba(201, 78, 78, 1);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 300;
                            font-style: Light;
                            font-size: 20rem;
                            line-height: 24rem;
                            letter-spacing: 0%;
                            text-align: center;
                            text-transform: uppercase;
                            position: absolute;
                            right: 0rem;
                            z-index: 10;
                            color: var(--white);
                            transition: all 0.3s ease;
                            opacity: 0;
                        }

                        input::placeholder {
                            color: #8A7CD4;
                        }
                    }

                    .wrap:nth-child(1) {
                        width: 100%;
                        justify-content: flex-end;

                        input,
                        div {
                            width: 746rem;
                        }
                    }

                    .wrap:nth-child(2) {
                        justify-content: space-between;
                        width: 100%;

                        input,
                        div {
                            width: 100%;
                        }
                    }

                    .wrap:nth-child(3) {
                        justify-content: flex-end;

                        input,
                        div {
                            width: 1530rem;
                        }
                    }

                    .wrap:nth-child(4) {
                        justify-content: flex-end;

                        span {
                            width: 1014rem;
                        }
                    }

                    .wrap:nth-child(5) {
                        justify-content: flex-end;

                        input,
                        div {
                            width: 1260rem;
                        }
                    }

                    .wrap:nth-child(6) {
                        justify-content: flex-end;

                        span {
                            width: 1014rem;
                        }
                    }

                    .wrap:nth-child(7) {
                        justify-content: space-between;

                        input,
                        div {
                            width: 100%;
                        }

                        span {
                            white-space: nowrap;
                        }
                    }
                }


                button {
                    width: 560rem;
                    height: 120rem;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Onest";
                    font-weight: 570;
                    font-size: 40rem;
                    line-height: 48rem;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                }

                p {
                    font-weight: 300;
                    font-size: 14rem;
                    line-height: 24rem;
                    letter-spacing: 0%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #F4F4F44D;
                }
            }
        }
    }


    .footer {
        width: 100%;
        background: var(--main);
        padding-bottom: 40rem;
        padding-top: 20rem;

        &__body {
            display: flex;
            flex-direction: column;
            gap: 6rem;
            overflow: hidden;

            &-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 40rem;

                span {
                    font-weight: 300;
                    font-size: 14rem;
                    line-height: 20rem;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: var(--white);
                }

                .menus {
                    ul {
                        display: flex;
                        align-items: center;
                        gap: 213rem;

                        li {
                            font-weight: 300;
                            font-size: 14rem;
                            leading-trim: NONE;
                            line-height: 20rem;
                            letter-spacing: 0%;
                            text-align: center;
                            text-transform: uppercase;
                            color: var(--white);
                            list-style: none;

                            a {
                                padding: 20rem 0rem;
                            }
                        }
                    }
                }
            }


            .stroke {
                font-family: var(--onest);
                font-weight: 570;
                font-size: 280rem;
                line-height: 280rem;
                letter-spacing: -4%;
                text-transform: uppercase;
                color: var(--white);
                white-space: nowrap;
                animation: linear infinite 10s animFooter;
                display: flex;
                flex-wrap: nowrap;
                gap: 20rem;
                will-change: transform;
                perspective: 1000rem;
                -webkit-backface-visibility: hidden;
                -webkit-transform-style: preserve-3d;

                span {
                    font-family: var(--chava);
                    font-weight: 400;
                    font-size: 275rem;
                    line-height: 247rem;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                }
            }

            &-bottom {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 40rem;

                span {
                    font-weight: 300;
                    font-size: 14rem;
                    leading-trim: NONE;
                    line-height: 20rem;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                    color: var(--white);
                }

                p {
                    font-weight: 300;
                    font-size: 14rem;
                    line-height: 20rem;
                    letter-spacing: 0%;
                    text-align: right;
                    text-transform: uppercase;
                    color: var(--white);
                }
            }
        }
    }

    @keyframes animFooter {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translate(-143.1%);
        }
    }
}