<footer class="@@el footer">
  <div class="container footer__container">
    <div class="footer__body">
      <div class="footer__body-top">
        <span>[мы в интернете]</span>
        <nav class="menus">
          <ul>
            <li>
              <a href="">telegram</a>
            </li>
            <li>
              <a href="">vc.ru</a>
            </li>
            <li>
              <a href="">sostav.ru</a>
            </li>
            <li>
              <a href="">youtube</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="stroke fs-2">
        <div class="stoke__item">
          Св<span>я</span>зат<span>ь</span>ся <span>с</span> на<span>м</span>и
        </div>
        <div class="stoke__item">
          Св<span>я</span>зат<span>ь</span>ся <span>с</span> на<span>м</span>и
        </div>
      </div>
      <div class="footer__body-bottom">
        <span>[©2025, Meti]</span>
        <p>сделано в Стратегии</p>
      </div>
    </div>
  </div>
</footer>
