<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="" class="header__body-logo">
                <img src="../images/dist/logo.svg" alt="">
            </a>
            <nav class="header__body-menu">
                <ul>
                    <li>
                        <a href="">Агентство</a>
                    </li>
                    <li>
                        <a href="">Что мы умеем</a>
                    </li>
                    <li>
                        <a href="">Кейсы</a>
                    </li>
                    <li>
                        <a href="">почему мы</a>
                    </li>
                    <li>
                        <a href="">Клиенты</a>
                    </li>
                    <li>
                        <a href="">Контакты</a>
                    </li>
                    <li>
                        <a href="">презентация</a>
                    </li>
                    <li>
                        <a href="">en</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>