<div class="preload-container">
    <canvas class="preload-canvas"></canvas>
    <img src="../images/dist/logo.svg" alt="">
</div>
<main class="main">
    <video class="priority-video" muted loop autoplay playsinline preload="metadata">
        <source src="../images/dist/shutterstock_3571757453.mp4" type="video/mp4">
        <source src="../images/dist/shutterstock_3571757453.webm" type="video/webm">
    </video>
    <canvas id="grid-canvas-begin"></canvas>
    <div class="main__body">
        <div class="top">
            <span>[москва, <span class="currentTime">12:31</span>]</span>
            <span>[hello, world]</span>
        </div>
        <div class="stroke">
            <div>
                <p>Ун<span>и</span>верс<span>а</span>льны<span>й </span>яз<span>ы</span>к
                    к<span>о</span>ммун<span>и</span>каци<span>и</span></p>
                <p>Ун<span>и</span>верс<span>а</span>льны<span>й </span>яз<span>ы</span>к
                    к<span>о</span>ммун<span>и</span>каци<span>и</span></p>
            </div>
        </div>
    </div>
</main>
<section id="about" class="about">
    <img src="../images/dist/about/2.png" alt="" class="about__decor ab_dec1">
    <img src="../images/dist/about/1.png" alt="" class="about__decor ab_dec2">
    <img src="../images/dist/about/3.svg" alt="" class="about__decor ab_dec3">
    <div class="container">
        <div class="about__body">
            <div class="about__body-left">
                <h3>[Привет, это meti]</h3>
                <div class="about-parallax about-p1 about_canva">
                    <canvas class="grid-canvas-case" id="pixelCanvas"></canvas>
                    <video style="display: none;" src="../images/dist/about-video.mp4" preload="metadata" muted loop
                        playsinline>
                </div>
            </div>
            <div class="about__body-right">
                <div class="text__wrap">
                    <span class="element-animation">Креативные</span>
                    <span class="element-animation">и эффективные.</span>
                    <span class="element-animation">Команда</span>
                    <span class="element-animation">профессионалов</span>
                    <span class="element-animation difference-desk">уровня</span>
                    <span class="element-animation difference-desk">сетевых рекламных</span>
                    <span class="element-animation difference-mobile">уровня сетевых</span>
                    <span class="element-animation difference-mobile">рекламных</span>
                    <span class="element-animation">агентств</span>
                </div>
                <div class="description__wrap">
                    <p class="element-animation">
                        Мы объединены общей миссией раскрывать потенциал бренда и человека, создавая среду,
                        благоприятную для развития бизнеса и общества.
                    </p>
                    <p class="element-animation">
                        Используя digital-инструменты
                        и креативный капитал нашей команды, <br>
                        мы помогаем компаниям <br>
                        и их руководителям достигать <br>
                        свои бизнес-цели.
                    </p>
                </div>
                <div class="about-parallax about-p2 about_canva">
                    <canvas class="grid-canvas-case" id="pixelCanvas"></canvas>
                    <video style="display: none;" src="../images/dist/about-video.mp4" preload="metadata" muted loop
                        playsinline>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services__new">
    <div class="container">
        <div class="services__new__body">
            <h2 class="services__new__body-title">
                [Что мы умеем]
            </h2>
            <div class="items">
                <div class="wrapper">
                    <svg id="interactive-grid" class="interactive-grid" width="562" height="562"
                        viewBox="0 0 562 562"></svg>
                </div>
                <div class="items__line">
                    <div class="item" data-item="heart">
                        <p class="number">01 / <span class="total-slides"></span></p>
                        <h3 class="title_serv">
                            Спе<span>ц</span>пр<span>о</span>ект<span>ы</span>
                        </h3>
                        <p>
                            Разрабатываем продукты
                            и проекты с креативным подходом, стратегическим мышлением
                            и тщательным планированием
                        </p>
                    </div>
                    <div class="item" data-item="sound">
                        <p class="number">02 / <span class="total-slides"></span></p>
                        <h3 class="title_serv">
                            S<span>M</span>m
                        </h3>
                        <p>
                            Управляем присутствием
                            бренда в социальных сетях, продвигаем, создаём контент
                            и взаимодействуем с аудиторией
                        </p>
                    </div>
                    <div class="item" data-item="glass">
                        <p class="number">03 / <span class="total-slides"></span></p>
                        <h3 class="title_serv">
                            Ан<span>а</span>лит<span>и</span>ка
                        </h3>
                        <p>
                            Собираем и анализируем
                            данные о рынке, аудитории
                            и эффективности
                            коммуникационных кампаний
                        </p>
                    </div>
                    <div class="item" data-item="cmile">
                        <p class="number">04 / <span class="total-slides"></span></p>
                        <h3 class="title_serv">
                            i<span>n</span>fluen<span>c</span>e <br>ma<span>r</span>keti<span>n</span>g
                        </h3>
                        <p>
                            Привлекаем медийных личностей
                            и блогерами для продвижения бренда, создания доверия
                            и увеличения охвата аудитории
                        </p>
                    </div>
                    <div class="item" data-item="kind">
                        <p class="number">05 / <span class="total-slides"></span></p>
                        <h3 class="title_serv">
                            Ст<span>р</span>атег<span>и</span>и
                        </h3>
                        <p>
                            Продумываем комплексные стратегии, учитывающие цели бизнеса, целевую аудиторию
                            и конкурентную среду
                        </p>
                    </div>
                    <div class="item" data-item="creative">
                        <p class="number">06 / <span class="total-slides"></span></p>
                        <h3 class="title_serv">
                            К<span>р</span>еат<span>и</span>в
                        </h3>
                        <p>
                            Реализуем оригинальные идеи
                            и концепции для рекламных кампаний, мероприятий и других коммуникационных активностей
                        </p>
                    </div>
                    <div class="item" data-item="camera">
                        <p class="number">07 / <span class="total-slides"></span></p>
                        <h3 class="title_serv">
                            ви<span></span>де<span></span>о-<br>пр<span>о</span>дак<span>ш</span>н
                        </h3>
                        <p>
                            Производим видеоконтент
                            для рекламы и социальных медиа, корпоративные фильмы,
                            от сценария до пост-продакшна
                        </p>
                    </div>
                    <div class="item" data-item="photo">
                        <p class="number">08 / <span class="total-slides"></span></p>
                        <h3 class="title_serv">
                            Ф<span>о</span>т<span>о</span>-<br>пр<span>о</span>дак<span>ш</span>н
                        </h3>
                        <p>
                            Создаём высококачественные фотосессии для рекламных кампаний, каталогов
                            и социальных сетей
                        </p>
                    </div>
                    <div class="item last-item" data-item="arrow">
                        <p class="number">09 / <span class="total-slides"></span></p>
                        <h3 class="title_serv">
                            д<span>и</span>за<span>й</span>н<span><br>и </span>б<span>р</span>енд<span>и</span>нг
                        </h3>
                        <p>
                            Проектируем визуальную идентичность бренда, включая логотипы, упаковку, и рекламные
                            маркетинговые материалы
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="showreel">
    <video class="showreel__video" muted loop autoplay playsinline preload="metadata">
        <source src="../images/dist/showreel.webm" type="video/webm">
        <source src="../images/dist/showreel.mp4" type="video/mp4">
    </video>
    <button class="muteor">
        <svg class="mute" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11 22H9V20H7V18H9V6H7V4H9V2H11V22ZM7 18H5V16H7V18ZM15.001 17H13.001V15H15V13H17V15H15.001V17ZM23 17H21V15H23V17ZM5 10H3V14H5V16H1V8H5V10ZM21 15H19V13H21V15ZM19 13H17V11H19V13ZM15.001 9H17V11H15V9H13.001V7H15.001V9ZM21 11H19V9H21V11ZM23 9H21V7H23V9ZM7 8H5V6H7V8Z"
                fill="black" />
        </svg>
        <svg class="sound" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11 22H9V20H7V18H9V6H7V4H9V2H11V22ZM19 22H13V20H19V22ZM21 20H19V18H21V20ZM7 18H5V16H7V18ZM17 18H13V16H17V18ZM23 18H21V6H23V18ZM5 10H3V14H5V16H1V8H5V10ZM19 16H17V8H19V16ZM15 14H13V10H15V14ZM7 8H5V6H7V8ZM17 8H13V6H17V8ZM21 6H19V4H21V6ZM19 4H13V2H19V4Z"
                fill="black" />
        </svg>
    </button>
    <canvas id="grid-canvas-video"></canvas>
    <img src="../images/dist/showreel_logo.svg" alt="">
    </div>
</section>
<section id="case" class="case">
    <div class="case__main">
        <div class="top">
            <span>[портфолио]</span>
            <span>[2021 - 2025]</span>
        </div>
        <div class="stroke">
            <div class="stroke_container">
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
                <p class="stroke_container-title">Ке<span>й</span>сы</p>
            </div>
        </div>
    </div>
    <div class="case__soft">
        <a href="" class="item big_case item1">
            <div class="media">
                <img src="../images/dist/case/1.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Familia</span>
                    <p>Как делать в день больше миллиона охвата: <br>
                        кейс METI agency и Familia</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item small_case item2">
            <div class="media">
                <img src="../images/dist/case/2.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
            </div>
            <div class="info">
                <div class="text">
                    <span>Zone 51</span>
                    <p>Разгон с 0 до 26 000 <br>
                        подписчиков в Telegram</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item big_case item3">
            <div class="media">
                <img src="../images/dist/case/1.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Crocus Fitness</span>
                    <p>TV-реклама для премиум-сети фитнес клубов, <br>
                        как продолжение большой рекламной кампании</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item small_case item4">
            <div class="media">
                <img src="../images/dist/case/2.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Familia (Пачка 1)</span>
                    <p>Как делать в день больше миллиона охвата: <br>
                        кейс METI agency и Familia</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item small_case item5">
            <div class="media">
                <img src="../images/dist/case/2.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
            </div>
            <div class="info">
                <div class="text">
                    <span>Zone 51</span>
                    <p>Разгон с 0 до 26 000 <br>
                        подписчиков в Telegram</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item big_case item6">
            <div class="media">
                <img src="../images/dist/case/1.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Crocus Fitness</span>
                    <p>TV-реклама для премиум-сети фитнес клубов, <br>
                        как продолжение большой рекламной кампании</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item big_case item1">
            <div class="media">
                <img src="../images/dist/case/1.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Familia</span>
                    <p>Как делать в день больше миллиона охвата: <br>
                        кейс METI agency и Familia</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item small_case item2">
            <div class="media">
                <img src="../images/dist/case/2.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
            </div>
            <div class="info">
                <div class="text">
                    <span>Zone 51</span>
                    <p>Разгон с 0 до 26 000 <br>
                        подписчиков в Telegram</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item big_case item3">
            <div class="media">
                <img src="../images/dist/case/1.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Crocus Fitness</span>
                    <p>TV-реклама для премиум-сети фитнес клубов, <br>
                        как продолжение большой рекламной кампании</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item small_case item4">
            <div class="media">
                <img src="../images/dist/case/2.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Familia (Пачка 1)</span>
                    <p>Как делать в день больше миллиона охвата: <br>
                        кейс METI agency и Familia</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item small_case item5">
            <div class="media">
                <img src="../images/dist/case/2.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
            </div>
            <div class="info">
                <div class="text">
                    <span>Zone 51</span>
                    <p>Разгон с 0 до 26 000 <br>
                        подписчиков в Telegram</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item big_case item6">
            <div class="media">
                <img src="../images/dist/case/1.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Crocus Fitness</span>
                    <p>TV-реклама для премиум-сети фитнес клубов, <br>
                        как продолжение большой рекламной кампании</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item big_case item1">
            <div class="media">
                <img src="../images/dist/case/1.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Familia</span>
                    <p>Как делать в день больше миллиона охвата: <br>
                        кейс METI agency и Familia</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item small_case item2">
            <div class="media">
                <img src="../images/dist/case/2.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
            </div>
            <div class="info">
                <div class="text">
                    <span>Zone 51</span>
                    <p>Разгон с 0 до 26 000 <br>
                        подписчиков в Telegram</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item big_case item3">
            <div class="media">
                <img src="../images/dist/case/1.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Crocus Fitness</span>
                    <p>TV-реклама для премиум-сети фитнес клубов, <br>
                        как продолжение большой рекламной кампании</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item small_case item4">
            <div class="media">
                <img src="../images/dist/case/2.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Familia (Пачка 1)</span>
                    <p>Как делать в день больше миллиона охвата: <br>
                        кейс METI agency и Familia</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item small_case item5">
            <div class="media">
                <img src="../images/dist/case/2.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
            </div>
            <div class="info">
                <div class="text">
                    <span>Zone 51</span>
                    <p>Разгон с 0 до 26 000 <br>
                        подписчиков в Telegram</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>
        <a href="" class="item big_case item6">
            <div class="media">
                <img src="../images/dist/case/1.png" alt="">
                <canvas class="grid-canvas-case"></canvas>
                <div class="btn__rotate">
                    <svg class="icon" width="36" height="36" viewBox="0 0 36 36" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 2H19V5H22V2ZM19 5H16V8H19V5ZM25 5H22V8H25V5ZM16 8H13V11H16V8ZM28 8H25V11H28V8ZM13 11H10V14H13V11ZM31 11H28V14H31V11ZM10 14H7V17H10V14ZM34 14H31V17H34V14ZM19 29H7V17H4V32H19V29ZM31 17H28V20H31V17ZM28 20H25V23H28V20ZM13 23H10V26H13V23ZM25 23H22V26H25V23ZM22 26H19V29H22V26Z"
                            fill="white" />
                    </svg>
                    <svg class="text" data-circular-text="Tagline Awards Short 2024" viewBox="0 0 130 130"
                        xmlns="http://www.w3.org/2000/svg">
                        <path id="circlePath" class="circlePath" fill="none" stroke="transparent" stroke-width="0.5" />
                        <text>
                            <textPath class="textPath" href="#circlePath" startOffset="0">Tagline Awards Short 2024
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <span>Crocus Fitness</span>
                    <p>TV-реклама для премиум-сети фитнес клубов, <br>
                        как продолжение большой рекламной кампании</p>
                </div>
                <div class="action">
                    <div></div>
                </div>
            </div>
        </a>

        <button class="load-more">
            <span>Показать ещё</span>
            <p class="case-count">[]</p>
            <canvas class="btn_canvas-case"></canvas>
        </button>
    </div>
</section>
<section id="benefits" class="benefits">
    <div class="container benefits__container">
        <div class="row benefits__row">
            <div class="row__col--7 benefits__col benefits__col--title">
                <h2 class="u-suptitle benefits__title">[Почему мы]</h2>
            </div>
            <div class="row__col--7 benefits__col benefits__col--subtitle">
                <h3 class="benefits__subtitle">
                    <span class="element-animation">Наши клиенты —</span>
                    <span class="element-animation">наши стратегические</span>
                    <span class="element-animation">партнеры. <br> В тесном</span>
                    <span class="element-animation">сотрудничестве</span>
                    <span class="element-animation">мы решаем большой спектр</span>
                    <span class="element-animation">маркетинговых задач,</span>
                    <span class="element-animation">погружаясь</span>
                    <span class="element-animation">в бренд на уровне</span>
                    <span class="element-animation">его команды</span>
                </h3>
            </div>
            <div class="row__col--4 benefits__col benefits__col--content">
                <div class="u-content benefits__content">
                    <p class="element-animation">
                        Не довольствуясь средними результатами, мы каждый день бросаем вызов «хорошему», чтобы сделать
                        «лучшее».
                    </p>
                    <p class="element-animation">
                        Именно такой подход позволяет нам&nbsp;обеспечивать устойчивый рост качества восприятия
                        брендов-партнеров и&nbsp;их бизнес-показателей.</p>
                </div>
            </div>
        </div>
        <img class="u-icon benefits__decor benefits__decor--1" src="../images/dist/our-client.svg" alt="">
    </div>
</section>
<section id="client" class="client">
    <canvas id="clientGridCanvas"></canvas>
    <img src="../images/dist/client/1.svg" class="client__decor element-animation client__decor1" alt="">
    <img src="../images/dist/client/2.svg" class="client__decor element-animation client__decor2" alt="">
    <img src="../images/dist/client/3.svg" class="client__decor element-animation client__decor3" alt="">
    <div class="client__top">
        <h3>[клиенты]</h3>
        <h2>
            Мен<span>я</span>ем
            <br>
            м<span>и</span>р<span> с...</span>
        </h2>
    </div>
    <div class="client__stroke">
        <div class="row ">
            <div class="item">
                <img src="../images/dist/part/1.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/2.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/3.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/4.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/5.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/6.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/1.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/2.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/3.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/4.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/5.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/6.svg" alt="">
            </div>
        </div>
        <div class="row ">
            <div class="item">
                <img src="../images/dist/part/7.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/8.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/9.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/10.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/11.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/12.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/7.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/8.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/9.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/10.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/11.svg" alt="">
            </div>
            <div class="item">
                <img src="../images/dist/part/12.svg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="awards">
    <div class="container">
        <div class="awards__body">
            <h3>[наши награды]</h3>
            <div class="awards__body-block awards__desk">
                <a href="" class="item element-animation">
                    <div class="wrap">
                        <img src="../images/dist/awards.png" alt="">
                    </div>
                    <div class="main__wrap">
                        <div class="text">
                            <span>Шорт-лист</span>
                            <p>Лучшая компания / Креатив за 2 недели / Tagline Awards 2024</p>
                        </div>
                        <div class="action">
                            <div></div>
                        </div>
                    </div>
                </a>
                <a href="" class="item element-animation">
                    <div class="wrap">
                        <img src="../images/dist/awards.png" alt="">
                    </div>
                    <div class="main__wrap">
                        <div class="text">
                            <span>Номинация</span>
                            <p>Social Media / Таргетированные кампании в соцсетях / Tagline Awards 2024</p>
                        </div>
                        <div class="action">
                            <div></div>
                        </div>
                    </div>
                </a>
                <a href="" class="item element-animation">
                    <div class="wrap">
                        <img src="../images/dist/awards.png" alt="">
                    </div>
                    <div class="main__wrap">
                        <div class="text">
                            <span>Номинация</span>
                            <p>«Сапожник с сапогами» / Коммуникация / Tagline Awards 2024</p>
                        </div>
                        <div class="action">
                            <div></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="splide awards__body-block" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        <a href="" class="item element-animation splide__slide">
                            <div class="wrap">
                                <img src="../images/dist/awards.png" alt="">
                            </div>
                            <div class="main__wrap">
                                <div class="text">
                                    <span>Шорт-лист</span>
                                    <p>Лучшая компания / Креатив за 2 недели / Tagline Awards 2024</p>
                                </div>
                                <div class="action">
                                    <div></div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="item element-animation splide__slide">
                            <div class="wrap">
                                <img src="../images/dist/awards.png" alt="">
                            </div>
                            <div class="main__wrap">
                                <div class="text">
                                    <span>Номинация</span>
                                    <p>Social Media / Таргетированные кампании в соцсетях / Tagline Awards 2024</p>
                                </div>
                                <div class="action">
                                    <div></div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="item element-animation splide__slide">
                            <div class="wrap">
                                <img src="../images/dist/awards.png" alt="">
                            </div>
                            <div class="main__wrap">
                                <div class="text">
                                    <span>Номинация</span>
                                    <p>«Сапожник с сапогами» / Коммуникация / Tagline Awards 2024</p>
                                </div>
                                <div class="action">
                                    <div></div>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feedback">
    <div id="feedback_top" class="feedback__top">
        <canvas id="feedback-grid-canvas"></canvas>
    </div>
    <div id="contact" class="feedback__bot">
        <div class="title">
            <div class="main__title">
                <h3>[Контакты]</h3>
                <h2>
                    об<span>с</span>уд<span>и</span>м<span>?</span>
                </h2>
            </div>
            <div class="contacts">
                <a href="tel:+79162041395">
                    +7(916)204-13-95
                </a>
                <a href="mailto:сeo@metigroup.ru">
                    сeo@metigroup.ru
                </a>
            </div>
        </div>
        <img class="main_img" src="../images/dist/feedback/1.svg" alt="">
        <div class="form_wrap">
            <div class="form_wrap-title">
                <span>[оставьте заявку]</span>
                <p class="title__feed">Привет, Meti!</p>
            </div>
            <form action="" class="feedback__bot-form">
                <div class="inputs">
                    <div class="wrap element-animation">
                        <span>Меня зовут</span>
                        <div class="input__wrap">
                            <input name="name" placeholder="Имя" type="text">
                            <p data-tippy="некорректный формат ввода">!</p>
                        </div>
                        <span>.</span>
                    </div>
                    <div class="wrap element-animation">
                        <span>Я</span>
                        <div class="input__wrap">
                            <input name="job" placeholder="Должность" type="text">
                            <p data-tippy="некорректный формат ввода">!</p>
                        </div>
                        <span>компании</span>
                    </div>
                    <div class="wrap element-animation">
                        <div class="input__wrap">
                            <input name="brand" class="brand" placeholder="наименование бренда" type="text">
                            <p data-tippy="некорректный формат ввода">!</p>
                        </div>
                        <span>.</span>
                    </div>
                    <div class="wrap element-animation">
                        <span>ответьте мне на</span>
                    </div>
                    <div class="wrap element-animation">
                        <div class="input__wrap">
                            <input name="email" placeholder="Email" type="email">
                            <p data-tippy="некорректный формат ввода">!</p>
                        </div>
                        <span>,</span>
                    </div>
                    <div class="wrap element-animation">
                        <span>или позвоните</span>
                    </div>
                    <div class="wrap element-animation">
                        <span>на номер</span>
                        <div class="input__wrap">
                            <input name="phone" placeholder="Телефон" type="tel">
                            <p data-tippy="некорректный формат ввода">!</p>
                        </div>
                        <span>.</span>
                    </div>
                </div>
                <button type="button" class="feedback_btn">
                    <span>отправить</span>
                    <canvas class="btn_canvas"></canvas>
                </button>
                <p>
                    Нажимая на кнопку «Отправить», вы подтверждаете <br>
                    свое согласие на обработку персональных данных
                </p>
            </form>
            <div class="feedback__bot-thank">
                <div class="wrap">
                    <span>заявка отправлена.</span>
                    <span>Наши менеджеры</span>
                    <span>свяжутся с вами</span>
                    <span>в ближайшее время</span>
                </div>
            </div>
        </div>
    </div>
</section>